@using Pronia.ViewModels.Slider
@model List<SliderGetVM>
<div class="container">
    <div class="row">

        <a class="btn btn-primary my-3" asp-area="Admin" asp-controller="Slider" asp-action="Create">Add New Slider</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Desciprtion</th>
                    <th scope="col">Image</th>
                    <th scope="col">DiscountPercentage</th>
                    <th scope="col">Actions</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var slider in Model)
                {
                    <tr>
                        <th scope="row">@slider.Id</th>
                        <td>@slider.Title</td>
                        <td>@slider.Description</td>
                        <td><img src="~/assets/images/website-images/@slider.ImageUrl" alt="Alternate Text" width=30px; height=30px /></td>
                        <td>@slider.DiscountPercentage</td>
                        <td>

                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@slider.Id">Update</a>
                            <a asp-action="Delete" asp-route-id="@slider.Id" class="btn btn-danger deleteBtn">Delete</a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </div>
</div>



